@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }
   @font-face {
    font-family: 'SeoulHangangL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
* {
    -webkit-text-size-adjust: none;
    font-family: 'NanumBarunGothic';
    font-weight: 300;
}
body { 
    margin: 0;
    padding: 0;
}
ul, li { 
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a, body, ul, li, div, span, table, tbody, tr, th, td, form, input, textarea, select, button {
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    font-family: 'SeoulHangangJungL'
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}
div{display: block;}
[class$=button] {
    cursor: pointer;
}
/*  */
.section {
    padding-bottom: 64px;
    padding-top: 25px;
}
.section_header {
    border: none;
    display: flex;
    font-size: 13px;
    font-style: normal;
    justify-content: space-between;
    padding-bottom: 18px;
  }
  .section_name {width: 100%;
    color: #544741;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 10px;
    padding-top: 10px;
}
  .section_title {    width: 100%;
    border-bottom: 1px solid #ded0c5;
    color: #544741;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 15px;
    margin-bottom:15px;

}
.insa_text, #insa_family_tbl td, #insa_family_tbl td span {
    font-size: 14px;
   
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
#insa_family_tbl td span, #insa_family_tbl td div {
    white-space: pre;
   
}
.calendar_inner {
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 10px;
}
.calendar th, .calendar .dday > span {
    font-size: 12px;
}
.calendar th {
    color: #c8b39e;
}
table.calendar {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.calendar th, .calendar td {
    height: 36px;
    font-family: 'Spoqa Han Sans';
    font-weight: 300;
    text-align: center;
    word-break: break-all;
}